# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Python cache files
__pycache__/
*.pyc
*.pyo

# Environment files
.env
*.env

# PyCharm-specific files
.idea/
*.iml

# Logs
*.log

# Virtual environment directories
venv/
.env/
.virtualenv/
__pycache__/crud_operations.cpython-313.pyc
__pycache__/crud_operations.cpython-313.pyc
